body {
  margin: 0;
  background-color: #555555;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #effbff;
}
header h1{
  font-size: 3em;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
  padding: 20px;
  background-color: #04aa6d;
}
nav img{
  z-index: 2;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}
nav li{
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.custom-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #555;
}
.card{
  width: 500px;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #333333;
  padding: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

}
.card ul{
  list-style-type: none; /* Remove the bullets/dots */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */}
.card-title{
  display: flex;
}
.card-title h2{
  padding: 10px;
}
.card-footer{
  display: flex;
  margin-top: 10px;
}
.card-footer p{
  display: flex;
  margin-top: 10px;
}
.card-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Add the desired spacing value */
}
.burger{
  width: 100px;
  position: absolute;
  top: 20px;
  right: 0;
}
.burger ul{
  position: absolute;
  list-style: none;
  top: 50px;
  right: 10px;

}
.burger li{
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  margin-top: 30px;
}
.search{
  width: 30%;
}
.search input{
  width: 100%;
  height: 35px;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  text-align: center;

}
.search button{
  opacity: 0;
}